VITE_SILICONFLOW_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_URL = https://zgteuwwhiwfglrvjcekq.supabase.co
SUPABASE_KEY = sb_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEEPSEEK_BASE_URL = https://api.deepseek.com
DEEPSEEK_API_KEY = sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
